---
title: Favorite Albums of 2016
layout: post_list
category: list
tags: [music, bestof2016, bestof]
albums:
  - name: Morning Report
    artist: Arkells
    spotify_id: album/2WJ3wW5Uy58NOWkIzzK4a4
    artwork: 2016/366/favorite-albums/arkells-morning-report.jpg
    favorite_track:
      name: Private School
      youtube_id: E7V30rKiikA
      spotify_id: track/3LsvNEwFMCDf4nXsYEHmex

  - name: All My Demons Greeting Me as a Friend
    artist: AURORA
    artwork: 2016/366/favorite-albums/aurora-all-my-demons-greeting-me-as-a-friend.jpg
    spotify_id: album/7ElzXR2E3kekE4wX1zDZq2
    favorite_track:
      name: Conqueror
      youtube_id: dmVAmlpbnD4
      spotify_id: track/5nqof30JRAkvfxcj9cgS0n

  - name: Wildflower
    artist: The Avalanches

  - name: Good Advice
    artist: Basia Bulat

  - name: Lemonade
    artist: Beyoncé

  - name: case/lang/veirs
    artist: case/lang/veirs

  - name: Moth
    artist: Chairlift

  - name: Coloring Book
    artist: Chance the Rapper

  - name: “Awaken, My Love!”
    artist: Childish Gambino

  - name: Centerfold
    artist: The Darcys

  - name: PersonA
    artist: Edward Sharpe & The Magnetic Zeros

  - name: 4 Your Eyez Only
    artist: J. Cole

  - name: Touch
    artist: July Talk

  - name: Bobby Tarantion
    artist: Logic

  - name: Away
    artist: Okkervil River

  - name: The Dream is Over
    artist: PUP

  - name: Young in All the Wrong Ways
    artist: Sara Watkins

  - name: A Sailor’s Guide to Earth
    artist: Sturgill Simpson

  - name: Lady Wood
    artist: Tove Lo

  - name: We are the Halluci Nation
    artist: A Tribe Called Red

  - name: Starboy
    artist: The Weeknd

  - name: Swooner
    artist: The Zolas
---

<p>2016 was a great year for music here is a list of my favorite albums of 2016.</p>

<div class="l-grid" itemscope itemtype="http://schema.org/MusicPlaylist">
  <meta content="{{ page.title }}" property="name">

  {% for album in page.albums %}
  {% if album.artwork %}
  <div class="l-row" itemprop="track" itemscope itemtype="http://schema.org/MusicRecording">
    <div class="l-column l-column--6">
      {% include c_image.html src=album.artwork %}
    </div>

    <div class="l-column l-column--6">
      <h3><span itemprop="inAlbum">{{ album.name | improve }}</span> / <strong itemprop="byArtist">{{ album.artist | improve }}</strong></h3>

      <meta content="{{ album.favorite_track.name }}" property="name">

      {% capture youtube_iframe_url %}https://www.youtube-nocookie.com/embed/{{ album.favorite_track.youtube_id }}{% endcapture %}

      {% include c_video.html iframe_url=youtube_iframe_url %}
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
