/build/
/.cache/
/.sass-cache/
/source/uploads/
/source/.asset-cache/
/source/_assets/bower/

# Ruby Stuff
/.bundle/
/vendor/bundle/

# Node.js Stuff
/node_modules/

# Python Stuff
*.pyc
/vendor/virtualenv/
