.archive {
  &__title {}

  &__group-title {}

  &__link {
    display: block;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  &__item {
    line-height: $font-size-heading-three;
    margin-bottom: $spacer-y;
    padding: $spacer 0;
    vertical-align: middle;

    &-title,
             #{&}-meta {
      display: block;
      margin-bottom: 0;
      margin-top: 0;
      vertical-align: middle;
    }

    &-meta {
      @include span-columns(2);
      text-align: right;
    }

    &-title {
      @extend %heading-three;
      @include span-columns(10);
    }

    &-icon {
      @include size(1em);

      vertical-align: middle;
    }
  }
}
