.blockquote {
  &--screenplay {
    border-left: 0;
    font-family: $font-family-monospace;
    font-size: 12pt;
  }

  &__line {
    padding: 2em 0;
  }

  &__character {
    display: block;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
  }

  &__expression {
    display: block;
    margin-left: -5em;
    text-align: center;
    text-transform: lowercase;

    &::before {
      content: '(';
    }

    &::after {
      content: ')';
    }
  }

  &__dialogue {
    display: block;
    margin: 0 auto;
    max-width: 25em;
  }
}
