// scss-lint:disable ColorVariable

.highlight {
  .hll { background-color: #ffc; }

  // Comment
  .c { color: #808080; }

  // Error
  .err {
    background-color: #f0a0a0;
    color: #f00000;
  }

  // Keyword
  .k {
    color: #008000;
    font-weight: bold;
  }

  // Operator
  .o { color: #303030; }

  // Comment.Multiline
  .cm { color: #808080; }

  // Comment.Preproc
  .cp { color: #507090; }

  // Comment.Single
  .c1 { color: #808080; }

  // Comment.Special
  .cs {
    color: #c00;
    font-weight: bold;
  }

  // Generic.Deleted
  .gd { color: #a00000; }

  // Generic.Emph
  .ge { font-style: italic; }

  // Generic.Error
  .gr { color: #f00; }

  // Generic.Heading
  .gh {
    color: #000080;
    font-weight: bold;
  }

  // Generic.Inserted
  .gi { color: #00a000; }

  // Generic.Output
  .go { color: #808080; }

  // Generic.Prompt
  .gp {
    color: #c65d09;
    font-weight: bold;
  }

  // Generic.Strong
  .gs { font-weight: bold; }

  // Generic.Subheading
  .gu {
    color: #800080;
    font-weight: bold;
  }

  // Generic.Traceback
  .gt { color: #0040d0; }

  // Keyword.Constant
  .kc {
    color: #008000;
    font-weight: bold;
  }

  // Keyword.Declaration
  .kd {
    color: #008000;
    font-weight: bold;
  }

  // Keyword.Namespace
  .kn {
    color: #008000;
    font-weight: bold;
  }

  // Keyword.Pseudo
  .kp {
    color: #003080;
    font-weight: bold;
  }

  // Keyword.Reserved
  .kr {
    color: #008000;
    font-weight: bold;
  }

  // Keyword.Type
  .kt {
    color: #303090;
    font-weight: bold;
  }

  // Literal.Number
  .m {
    color: #6000e0;
    font-weight: bold;
  }

  // Literal.String
  .s { background-color: #fff0f0; }

  // Name.Attribute
  .na { color: #0000c0; }

  // Name.Builtin
  .nb { color: #007020; }

  // Name.Class
  .nc {
    color: #b00060;
    font-weight: bold;
  }

  // Name.Constant
  .no {
    color: #003060;
    font-weight: bold;
  }

  // Name.Decorator
  .nd {
    color: #505050;
    font-weight: bold;
  }

  // Name.Entity
  .ni {
    color: #800000;
    font-weight: bold;
  }

  // Name.Exception
  .ne {
    color: #f00000;
    font-weight: bold;
  }

  // Name.Function
  .nf {
    color: #0060b0;
    font-weight: bold;
  }

  // Name.Label
  .nl {
    color: #907000;
    font-weight: bold;
  }

  // Name.Namespace
  .nn {
    color: #0e84b5;
    font-weight: bold;
  }

  // Name.Tag
  .nt { color: #007000; }

  // Name.Variable
  .nv { color: #906030; }

  // Operator.Word
  .ow {
    color: #000;
    font-weight: bold;
  }

  // Text.Whitespace
  .w { color: #bbb; }

  // Literal.Number.Float
  .mf { color: #6000e0; font-weight: bold; }

  // Literal.Number.Hex
  .mh { color: #005080; font-weight: bold; }

  // Literal.Number.Integer
  .mi {
    color: #0000d0;
    font-weight: bold;
  }

  // Literal.Number.Oct
  .mo {
    color: #4000e0;
    font-weight: bold;
  }

  // Literal.String.Backtick
  .sb { background-color: #fff0f0; }

  // Literal.String.Char
  .sc { color: #0040d0; }

  // Literal.String.Doc
  .sd { color: #d04020; }

  // Literal.String.Double
  .s2 { background-color: #fff0f0; }

  // Literal.String.Escape
  .se {
    background-color: #fff0f0;
    color: #606060;
    font-weight: bold;
  }

  // Literal.String.Heredoc
  .sh { background-color: #fff0f0; }

  // Literal.String.Interpol
  .si { background-color: #e0e0e0; }

  // Literal.String.Other
  .sx {
    background-color: #fff0f0;
    color: #d02000;
  }

  // Literal.String.Regex
  .sr {
    background-color: #fff0ff;
    color: #000;
  }

  // Literal.String.Single
  .s1 { background-color: #fff0f0; }

  // Literal.String.Symbol
  .ss { color: #a06000; }

  // Name.Builtin.Pseudo
  .bp { color: #007020; }

  // Name.Variable.Class
  .vc { color: #306090; }

  // Name.Variable.Global
  .vg {
    color: #d07000;
    font-weight: bold;
  }

  // Name.Variable.Instance
  .vi { color: #3030b0; }

  // Literal.Number.Integer.Long
  .il {
    color: #0000d0;
    font-weight: bold;
  }
}
