.footnotes {
  font-size: $font-size-sm;
  margin: 1em auto;
  padding: 0 2em;

  &__seperator {
    width: 25%;
  }

  &__list {}

  &__item {}

  &__back-link {
    font-family: serif;
  }
}

.footnote {
  &__link {
    border-bottom: 0;
    line-height: 0;

    &::before {
      content: '[';
    }

    &::after {
      content: ']';
    }
  }
}
