.footnotes {
  font-size: $font-size-sm;
  margin: 1em auto;
  padding: 0 2em;

  @at-root #{&}__seperator {
    width: 25%;
  }

  @at-root #{&}__list {}

  @at-root #{&}__item {}

  @at-root #{&}__back-link {
    font-family: serif;
  }
}

.footnote {
  @at-root #{&}__link {
    border-bottom: 0;
    line-height: 0;

    &::before {
      content: '[';
    }

    &::after {
      content: ']';
    }
  }
}
