$header-imprint-colour: #fff;
$header-imprint-background-colour: desaturate(darken($colour-primary, 20%), 30%);

.header {
  margin-bottom: 1em;
  text-align: center;

  &__imprint {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);

    background-color: $header-imprint-background-colour;
    color: $header-imprint-colour;
    padding: 1em 0;

    &--bg-image {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 50vh;
    }
  }

  &__title {
    font-weight: 100;
    margin: 0;
  }

  &__title-link {
    color: $header-imprint-colour;
    text-decoration: none;

    &:hover {
      color: desaturate(darken($header-imprint-colour, 20%), 30%);
      text-decoration: none;
    }
  }

  &__navigation {
    margin: .5em 0;

    .navigation {
      padding-top: 0;
      width: 100%;
    }

    // scss-lint:disable SelectorFormat
    .navigation__list {
      margin: 0 auto;
    }

    .navigation__item {
      margin: .5em 2em;
      text-align: center;
    }
    // scss-lint:enable SelectorFormat
  }
}
