// scss-lint:disable SelectorFormat

.read-next {
  @include display(flex);
  @include align-items(stretch);

  @at-root #{&}--one {}

  @at-root #{&}--two {}

  @at-root #{&}__story {
    @include display(flex);
    @include flex-grow(1);

    background: $colour-grey-dark no-repeat center center;
    background-size: cover;
    color: $colour-white;
    min-width: 50%;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
  }

  @at-root #{&}__story:hover {
    color: $colour-white;
    text-decoration: none;

    .read-next__story-wrapper {
      background: $trans-black-75;
    }

    .read-next__button {
      background: $trans-white-75;
      color: $trans-black-75
    }
  }

  @at-root #{&}__story-wrapper {
    background: $trans-black-75;
    padding: 6rem;
    transition: all .5s ease;
    width: 100%;
  }

  @at-root #{&}__button {
    border: $trans-white-50 1px solid;
    border-radius: 4px;
    color: $trans-white-75;
    font-size: $font-size-xs;
    padding: ($font-size-xs / 2) $font-size-xs;
    text-transform: uppercase;
    transition: all .5s ease;
  }

  @at-root #{&}__title {
    color: $colour-white;
    margin-top: 1rem;
  }

  @at-root #{&}__excerpt {
    color: $trans-white-75;
    margin: 0;
  }
}
