.tag-cloud {
  @include list-unstyled;

  margin-top: 1em;
  text-align: center;

  &__search {
    width: 100%;
  }

  &__item {
    display: inline-block;
    padding-left: .25em;
    padding-right: .25em;
    vertical-align: middle;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}
