---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta http-equiv="cleartype" content="on">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>

        <meta name="description" content="{{ site.description }}">
        <meta name="author" content="{{ site.data.author.name }} ({{ site.data.author.email }})">

        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        {% if site.onion_url %}<link rel="onion" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.onion_url }}">{% endif %}

        {% stylesheet style %}

        <link rel="alternate" type="application/atom+xml" title="{{ site.title }} | Feed" href="{{ "/feeds/" | prepend: site.baseurl | prepend: site.url }}">

        {% if site.google_verify %}<meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}
        {% if site.bing_verify %}<meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %}
        {% if site.alexa_verify %}<meta name="alexaVerifyID" content="{{ site.alexa_verify }}">{% endif %}
        {% if site.yandex_verify %}<meta name="yandex-verification" content="{{ site.yandex_verify }}">{% endif %}

        {% if site.data.author.social.googleplus.url %}<link rel="author" href="{{ site.data.author.social.googleplus.url }}?rel=author">{% endif %}

        {% if page.recaptcha %}
        <script src='https://www.google.com/recaptcha/api.js'></script>
        {% endif %}

        {% include c_favicons.html %}
        {% include c_metadata.html page=page %}

        {% include c_google_analytics.html %}
        {% include c_piwik.html %}

        <!--[if lt IE 9]>
        {% javascript html5shiv/dist/html5shiv.js %}
        <![endif]-->

        {% javascript picturefill/dist/picturefill %}

        <link rel="openid2.provider" href="https://openid.stackexchange.com/openid/provider">
        <link rel="openid2.local_id" href="https://openid.stackexchange.com/user/835eb470-181c-415a-8285-b0e01f251c39">
    </head>

    <body class="mylesbraithwaite_com-www {% if page.body_css_class %}mylesbraithwaite_com-www--{{ page.body_css_class | slugify }}{% endif %}">
        {% include c_header.html %}

        <div class="page {% if page.page_css_class %}page--{{ page.page_css_class | slugify }}{% endif %}">
            <div class="page__wrapper {% if page.page_css_class %}page__wrapper--{{ page.page_css_class | slugify }}{% endif %}">
                {{ content }}
            </div>
        </div>

        {% include c_footer.html %}

        {% raw %}
        <script id="js-alert-template" type="text/x-handlebars-template">
            <p class="c-alert{{#if level}} c-alert--{{level}}{{/if}}">
                {{#if title}}<strong class="c-alert__title">{{title}}</strong>{{/if}}
                <span class="c-alert__copy">{{copy}}</span>
                {{#if link}}<a class="c-alert__link" href="{{link}}">{{#if link_title}}{{link_tilte}}{{#else}}Close{{/if}}</a>{{/if}}
            </p>
        </script>
        {% endraw %}

        <script type="text/javascript">
            window.MylesBlogPageDetails = {
                {% if page.id %}id: {{ page.id | jsonify }},{% endif %}
                {% if page.title %}title: {{ page.title | jsonify }},{% endif %}
                {% if page.date %}date: {{ page.date | jsonify }},{% endif %}
                {% if page.tags %}tags: {{ page.tags | jsonify }},{% endif %}
                {% if page.path %}path: "source/{{ page.path }}",{% endif %}
                {% if page.layout %}layout: {{ page.layout | jsonify }},{% endif %}
                {% if page.category %}
                {% assign category_data = site.data.categories | where:"slug", page.category %}
                category: {{ category_data | jsonify }},
                {% endif %}
                url: "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
            }
        </script>

        {% if page.javascript_libs contains 'twitter' %}
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        {% endif %}

        {% if page.javascript_libs contains 'listjs' %}
        {% javascript list.js/dist/list.min.js %}
        {% endif %}

        {% javascript script %}
    </body>
</html>
