<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>

        <meta name="description" content="{{ site.description }}">
        <meta name="author" content="{{ site.data.author.name }} ({{ site.data.author.email }})">

        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        <link rel="onion" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: "https://tdm76lx3jweaozkd.onion" }}">

        <link rel="stylesheet" href="{{ site.baseurl | prepend: site.url }}{% asset_path style.scss %}">

        <link rel="alternate" type="application/atom+xml" title="{{ site.title }} | Feed" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

        {% if page.recaptcha %}
        <script src='https://www.google.com/recaptcha/api.js'></script>
        {% endif %}

        {% include c_favicons.html %}
        {% include c_metadata.html page=page %}
    </head>

    <body class="mylesbraithwaite_com-www {% if page.body_css_class %}mylesbraithwaite_com-www--{{ page.body_css_class | slugify }}{% endif %}">
        {% include c_header.html %}

        <div class="page {% if page.page_css_class %}page--{{ page.page_css_class | slugify }}{% endif %}">
            <div class="page__wrapper {% if page.page_css_class %}page__wrapper--{{ page.page_css_class | slugify }}{% endif %}">
                {{ content }}
            </div>
        </div>

        {% include c_footer.html %}

        {% raw %}
        <script id="js-alert-template" type="text/x-handlebars-template">
            <p class="c-alert{{#if level}} c-alert--{{level}}{{/if}}">
                {{#if title}}<strong class="c-alert__title">{{title}}</strong>{{/if}}
                <span class="c-alert__copy">{{copy}}</span>
                {{#if link}}<a class="c-alert__link" href="{{link}}">{{#if link_title}}{{link_tilte}}{{#else}}Close{{/if}}</a>{{/if}}
            </p>
        </script>
        {% endraw %}

        <script src="{{ site.baseurl | prepend: site.url }}{% asset_path handlebars/handlebars.min.js %}"></script>
        <script src="{{ site.baseurl | prepend: site.url }}{% asset_path jquery/dist/jquery.min.js %}"></script>
        <script src="{{ site.baseurl | prepend: site.url }}{% asset_path moment/min/moment.min.js %}"></script>

        {% if page.javascript_libs contains 'jquery_validate' %}
        <script src="{{ site.baseurl | prepend: site.url }}{% asset_path jquery-validation/dist/jquery.validate.min.js %}"></script>
        {% endif %}

        {% if page.javascript_libs contains 'twitter' %}
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        {% endif %}

        <script src="{{ site.baseurl | prepend: site.url }}{% asset_path script.js %}"></script>
    </body>
</html>
