---
layout: base
---

<div class="post-detail">
    {{ content }}

    <div class="post-detail__footer">
        <div class="post-detail__pagination pagination">
            {% if page.previous.url %}
            <a class="c-button c-button--colour-primary pagination__previous pagination__previous--active" title="{{ page.previous.title }}" href="{{ page.previous.url }}">&larr; {{ page.previous.title | improve }}</a>
            {% endif %}

            {% if page.next.url %}
            <a class="c-button c-button--colour-primary pagination__next pagination__next--active" title="{{ page.next.title }}" href="{{ page.next.url }}">{{ page.next.title | improve }} &rarr;</a>
            {% endif %}
        </div>
    </div>
</div>
