---
layout: post_article
category: article
date: 2011-02-15T11:29:00
title: "Why it's a good thing that the Arcade Fire Won Best Album at the Grammy"
tags: [grammy, music, arcade-fire]
feature-imgae: 2011/046/why-its-a-good-think-that-the-arcade-fire-won-best/arcade-fire.jpg
---

{% include c_image.html src='2011/046/why-its-a-good-think-that-the-arcade-fire-won-best/arcade-fire.jpg' alt='The Arcade Fire' %}

<p>If you haven't heard by now The Arcade Fire won best album at the Grammys on Sunday night. Personally I didn't watch because really who give a fuck about the Grammys, while it turns out the rest of the world (i.e. people who enjoy entertainers and not musicians) <a href="http://whoisarcadefire.tumblr.com/" title="Who is Arcade Fire">felt the same way about The Arcade Fire</a>. The Arcade Fire is not my favourite band but I would say I am a fan, they were on <a href="http://mixtape.mylesbraithwaite.com/random-mixtape-three" title="Apocalypse  Random Mixtape Three">my last Mixtape Podcast</a>.</p>

<p>Since the 90s music has turned away from... music and into people you find entertaining, Madonna is a perfect example of this. This aggressive change has made anyone who has actually musically talent ether not succeeded, not enter the industry, or change to fit a type (ex <a href="http://www.youtube.com/watch?v=NM51qOpwcIM" title="Vintage Lady Gaga Live at NYU - Captivated &amp; Electric Kiss">Lady Gaga before she became strange</a>). With The Arcade Fire winning an actually mainstream award hopefully we will enter an area where musicians will actually be jugged by their music and not my their stage presence.</p>

<h2 id="the-suburbs">The Suburbs</h2>

{% include c_video.html iframe_url='https://www.youtube-nocookie.com/embed/5Euj9f3gdyM' %}

<h2 id="ready-to-start">Ready to Start</h2>

{% include c_video.html iframe_url='https://www.youtube-nocookie.com/embed/9oI27uSzxNQ' %}
