---
layout: post_article
category: article
date: 2014-01-30T15:32:26
title: "Captain America: The Winter Soldier"
tags: [captain-america-the-winter-soldier, captain-america, film, poster, comic-books, films]
---

{% include c_image.html src='2014/030/captain-america-winter-soldier/captian-america.jpg' caption='Captain America' alt='Captain America: The Winter Soldier' %}

{% include c_image.html src='2014/030/captain-america-winter-soldier/black-widow.jpg' caption='Black Widow' alt='Captain America: The Winter Soldier' %}

{% include c_image.html src='2014/030/captain-america-winter-soldier/nick-fury.jpg' caption='Nick Fury' alt='Captain America: The Winter Soldier' %}
