.post {
  margin: 1rem 2rem;

  &__header {
    border-bottom: 1px solid $trans-black-7-5;
    color: $colour-grey-light;
    margin-bottom: .5rem;
    padding-bottom: .5rem;

    &:hover {
      color: $body-colour;
    }
  }

  &__feature-image {
    background-position: center;
    background-repeat: no-repeat;
    height: 20rem;
    margin-bottom: .5rem;
    width: 100%;
  }

  &__header-overlay {
    background-color: $trans-black-50;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
    width: 100%;
  }

  &__title {
    font-size: $font-size-heading-three;
    margin-bottom: 0;
    margin-top: 0;

    &--overlay {
      color: $colour-white;
    }
  }

  &__meta {
    margin: 0;
  }

  &__link {
    &--overlay {
      color: $colour-white;

      // scss-lint:disable NestingDepth
      // `scss-lint` doesn't understand that these aren't more than one NestingDepth
      &:hover {
        color: darken($colour-white, 25%);
      }
      // scss-lint:enable NestingDepth
    }
  }

  &__link-icon {
    height: 1em;
    vertical-align: middle;
    width: 1em;
  }

  &__abstract {
    font-size: $font-size-heading-five;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;

    &--overlay {
      color: $colour-white;
    }
  }

  &__content {}
}
