.post {
  margin: 1rem 2rem;

  @at-root #{&}__header {
    margin-bottom: .5rem;
  }

  @at-root #{&}__feature-image {
    background-position: center;
    background-repeat: no-repeat;
    height: 20rem;
    margin-bottom: .5rem;
    width: 100%;
  }

  @at-root #{&}__header-overlay {
    background-color: rgba(0, 0, 0, .5);
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
    width: 100%;
  }

  @at-root #{&}__title {
    font-size: $font-size-heading-three;
    margin-bottom: 0;
    margin-top: 0;

    @at-root #{&}--overlay {
      color: $colour-white;
    }
  }

  @at-root #{&}__link {
    @at-root #{&}--overlay {
      color: $colour-white;

      // scss-lint:disable NestingDepth
      // `scss-lint` doesn't understand that these aren't more than one NestingDepth
      &:hover {
        color: darken($colour-white, 25%);
      }
      // scss-lint:enable NestingDepth
    }
  }

  @at-root #{&}__link-icon {
    height: 1em;
    vertical-align: middle;
    width: 1em;
  }

  @at-root #{&}__abstract {
    font-size: $font-size-heading-five;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;

    @at-root #{&}--overlay {
      color: $colour-white;
    }
  }

  @at-root #{&}__content {}
}
