---
layout: post_list
category: list
date: 2016-02-01T09:30
title: Top 15 iPad Games
tags:
  - ipad
  - ios
  - video-games
items:
- name: Dots
  url: https://itunes.apple.com/ca/app/dots-a-game-about-connecting/id632285588?mt=8
- name: Ridiculous Fishing
  url: https://itunes.apple.com/ca/app/ridiculous-fishing-tale-redemption/id601831815?mt=8
- name: Minecraft Pocket Edition
  url: https://itunes.apple.com/ca/app/minecraft-pocket-edition/id479516143?mt=8
- name: Alto's Adventure
  url: https://itunes.apple.com/ca/app/altos-adventure/id950812012?mt=8
- name: VVVVVV
  url: https://itunes.apple.com/ca/app/vvvvvv/id880645949?mt=8
- name: Faster Than Light
  url: https://itunes.apple.com/ca/app/ftl-faster-than-light/id833951143?mt=8
- name: Leo's Fortune
  url: https://itunes.apple.com/ca/app/leos-fortune/id830544402?mt=8
- name: Minecraft Story Mode
  url: https://itunes.apple.com/ca/app/minecraft-story-mode/id1001286466?mt=8
- name: Horizon Chase
  url: https://itunes.apple.com/ca/app/horizon-chase-world-tour/id991018252?mt=8
- name: Ice Rage
  url: https://itunes.apple.com/ca/app/ice-rage/id481028647?mt=8
- name: Radiant
  url: https://itunes.apple.com/ca/app/radiant/id335989815?mt=8
- name: CounterSpy
  url: https://itunes.apple.com/ca/app/counterspy/id912920630?mt=8
- name: The Westport Independent
  url: https://itunes.apple.com/us/app/the-westport-independent/id1041987123?mt=8
- name: Churchill Solitaire
  url: https://itunes.apple.com/us/app/churchill-solitaire/id1030804846?mt=8
- name: Papers, Please
  url: https://itunes.apple.com/ca/app/papers-please/id935216956?mt=8
---

<ul>
  {% for item in page.items %}
  <li>
    {% if item.url %}
    <a href="{{ item.url }}">{{ item.name }}</a>
    {% else %}
    {{ item.name }}
    {% endif %}
  </li>
  {% endfor %}
</ul>
