---
layout: post_bookmark
category: bookmark
date: 2014-09-02T10:01:24
title: "The Nine Types of Minecraft Players"
tags:
- minecraft
bookmark:
  url: http://www.dorkly.com/post/67404/9-types-of-minecraft-players
---

<p>I'm a mix between the <em>Engineer</em> and <em>World Builder</em>.</p>

{% include c_responsive_image.html src='2014/245/the-nine-types-of-minecraft-players/the-engineer_2.jpg' %}

{% include c_responsive_image.html src='2014/245/the-nine-types-of-minecraft-players/the-world-builder_2.jpg' %}
