<div class="header">
    <div class="header__imprint {% if page.header_image %}header__imprint--bg-image{% endif %}" {% if page.header_image %}style="background-image:url('{{ site.upload_url }}/{{ page.header_image }}')"{% endif %}>
        <h1 class="header__title">
            <a href="/" class="header__title-link">
                {{ site.title }}
            </a>
        </h1>
    </div>

    {% comment %}
    <!-- Disabling the header navigation. -->
    <div class="header__navigation">
        <nav class="navigation">
            <ul class="navigation__list navigation__list--show" id="js-navigation-list">
                {% for link in site.data.navigation %}
                <li class="navigation__item {% if link.url == page.url %}navigation__item--active{% endif %}">
                    <a href="{{ link.url }}" class="navigation__link {% if link.url == page.url %}navigation__link--active{% endif %}">
                        {{ link.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    {% endcomment %}
</div>
