<div class="header">
    <div class="header__wrapper">
        <a href="/" class="header__logo">
            <img src="{% asset_path avatar.svg %}" class="header__image" alt="{{ site.title }}">
        </a>

        <a href="javascript:void(0)" class="navigation__menu-button" id="js-navigation-menu-button">MENU</a>

        <nav class="header__navigation navigation">
            <ul class="navigation__list navigation__list--show" id="js-navigation-list">
                <li class="navigation__item">
                    <a href="/" class="navigation__link">
                        {{ site.title }}
                    </a>
                </li>
                {% for link in site.data.navigation %}
                <li class="navigation__item {% if link.subitems %}navigation__item--more{% endif %}">
                    <a href="{{ link.url }}" class="navigation__link">
                        {{ link.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
