{% if site.piwik %}
<script type="text/javascript">
    var _paq = _paq || [];

    {% if page.path == '404.markdown' %} // jshint ignore:line
    _paq.push(['setDocumentTitle',
               '404/URL = ' +
               encodeURIComponent(document.location.pathname +
                                  document.location.search) +
               '/From = ' + encodeURIComponent(document.referrer)]);
    {% endif %} // jshint ignore:line

    _paq.push(['setDomains', ['{{ site.piwik.set_domains }}']]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);

    (function() {
        var u = '//{{ site.piwik.baseurl }}/';

        _paq.push(['setTrackerUrl', u + 'piwik.php']);
        _paq.push(['setSiteId', '{{ site.piwik.site_id }}']);

        var d = document,
            g = d.createElement('script'),
            s = d.getElementsByTagName('script')[0];

        g.type = 'text/javascript';
        g.async = true;
        g.defer = true;
        g.src = u + 'piwik.js';

        s.parentNode.insertBefore(g, s);
    })();
</script>
<noscript><p><img src="//{{ site.piwik.baseurl }}/piwik.php?idsite={{ site.piwik.site_id }}" style="border:0;" alt="" /></p></noscript>
{% endif %}
