<div class="post__aside">
    <ul class="post__meta-list">
        <li class="post__meta post__meta--date">
            <time datetime="{{ include.post.date | date_to_xmlschema }}">
                {{ include.post.date | date: '%d %B, %Y' | improve }}
            </time>
        </li>

        <li class="post__meta post__meta--tags">
            {% include c_post_tags.html tags=include.post.tags %}
        </li>

        <li class="post__meta post__meta--time-to-read">
            {{ include.content | reading_time_as_s | improve }}
        </li>

        {% if page.via %}
        <li class="post__meta post__meta--via">
            <a href="{{ page.via.url }}">{{ include.post.via.author | improve }}{% if include.post.via.publication %} in {{ include.post.via.publication | improve }}{% endif %}</a>
        </li>
        {% endif %}

        <li class="post__meta post__meta--permalink">
            <a href="{{ include.post.url }}">Permalink</a>
        </li>
    </ul>
</div>
