---
title: Archive
layout: archive
---

<div class="archive">
    {% for post in site.posts %}
        {% capture this %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% capture this_link %}{{ post.date | date: "/%Y/" }}{% endcapture %}

        {% capture next %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
        {% capture next_link %}{{ post.previous.date | date: "/%Y/" }}{% endcapture %}

        {% if forloop.first %}
        <div class="archive__group">
            <h2 class="archive__title" id="year-{{ this }}">
                <a href="{{ this_link }}" class="archive__title-link archive__link">
                    {{ this }}
                </a>
            </h2>
        {% endif %}

            <a class="archive__item archive__link" href="{{ post.url }}">
                <p class="archive__item-meta">{{ post.date | date: site.datetime_short_format }}</p>
                <h3 class="archive__item-title">
                    {{ post.title | improve }}
                </h3>
            </a>

        {% if forloop.last %}
        </div> <!-- .archive__group -->
        {% else %}
        {% if this != next %}
        </div> <!-- .archive__group -->
        <div class="archive__group">
            <h2 class="archive__title" id="year-{{ next }}">
                <a href="{{ next_link }}">
                    {{ next }}
                </a>
            </h2>
        {% endif %}
        {% endif %}
    {% endfor %}
</div>
