---
layout: base
title: Myles Braithwaite
subtitle: "Hoping for the Best, Imagining the Worst."
skip_index: true
---

<div class="post-list">
    {% for post in paginator.posts %}
        {% if post.category == 'article' %}
            {% include post_article.html post=post %}
        {% elsif post.category == 'bookmark' %}
            {% include post_bookmark.html post=post %}
        {% elsif post.category == 'list' %}
            {% include post_list.html post=post %}
        {% elsif post.category == 'quote' %}
            {% include post_quote.html post=post %}
        {% else %}
            {% include post_simple.html post=post %}
        {% endif %}

        {% if forloop.last == false %}
            <hr class="post-list__separator"/>
        {% endif %}
    {% endfor %}

    {% include c_pagination.html p=paginator %}
</div>
